.productsTabDiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr)
}

.noProductsDiv {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.noProductsDiv > img {
    height: 180px;
    margin: 20px;
}

.noProductsDiv > p {
    font-size: 1.5rem;
}


.wrapper {
    margin: 0 auto;
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    gap: 27px;
}