.container {
  position: relative;
}
  
.background-image {
  height: 700px;
  background-image: url("https://static.vinted.com/assets/seller-promotion/other/banner-wide-9b45d0aa9a311c4ff6013e9cf3bc2b6646468be3d2f553192c63598685fcc177.jpg");
  background-repeat: no-repeat;
  background-position: center 50%;
  background-size: cover;
}

.overlay {
  position: absolute;
    top: 295px;
    left: 214px;
    width: 371px;
    height: 250px;
    background-color: rgb(255 255 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
  color: rgb(0, 0, 0);
  font-size: 31px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  font-family: "roboto";
}

.buttonOverlay {
  border: none;
  margin-top: 15px;
  padding: 7px 100px;
  background-color: #27cedd;
}
.buttonOverlay span {
  color: #FFF;
  font-size: 25px;
}

.secondSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.latestProductsText {
  text-align: left;
  margin-top: 1vh;
  font-weight: 300;
  font-size: 2vh;
  margin-left: 4vh;
}

.small-hr {
  height: 1px; 
  width: 67%; 
  margin: 10px auto; 
  background-color: #736767; 
  border: none; 
}

@media only screen and (min-width: 1920px) {
    .latestProductsText {
        width: 50%;
    }
}


.stickyButton2 {
  background-color: red;
}