.baseDiv {
    display: flex;
    justify-content: center;
    background-color: #C2634B;
    height: 92vh;
}

.baseDiv h3 {
    text-align: left;
    color: white
}

.addProductForm {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80%;
}

.addProductForm p {
    margin: 15px 5px;
}

.imageFormDiv {
    flex: 3;
    display: flex;
    flex-direction: column;
    background-color: white;
    text-align: left;
    margin-bottom: 20px;
}

.imageFormDiv > input {
    display: none;
    flex: 1;
    border: 1px dashed black;
    margin: 5px;
    height: 50px;
}

.formDiv {
    display: flex;
    background-color: white;
    margin-bottom: 20px;
}

.formDiv > p {
    text-align: left;
    width: 50%;
}

.formDiv > input {
    width: 50%;
}

.formDiv > textarea {
    width: 50%;
}

.descriptionDiv {
    flex: 2;
}

.uploadButton {
    background: rgb(164, 142, 255);
    border: 1px solid rgb(164, 142, 255);;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    padding: 16px;
    text-decoration: none;
    transition: 0.3s ease background;
    width: 100%;
    margin-bottom: 20px;
}

.uploadButton:hover {
    background: #fff;
    color: #43a3e6;
    transition: 0.3s ease background;
}
