.addProductDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 92vh;
}

.addProductFormDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 20px;
}

.addProductForm {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    width: 100%;
}

.addProductForm > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 20px;
    background-color: white;
}

.addProductFormDiv label {
    max-width: 200px;
}

.addProductForm input {
    font-family: "Open Sans",sans-serif;
    width: 50%;
    font-size: 14px;
    border: none;
    border-bottom: 1.8px solid #f5f6f7;
}

.addProductForm textarea {
    font-family: "Open Sans",sans-serif;
    height: 20vh;
    width: 50%;
    font-size: 14px;
    border: none;
    border-bottom: 1.8px solid #f5f6f7;
}

.addProductForm select {
    font-family: "Open Sans",sans-serif;
    width: 50%;
    font-size: 14px;
    border: none;
    border-bottom: 1.8px solid #f5f6f7;
    color: gray;
    background-color: white;
}

.addProductButton {
    font-family: "Open Sans",sans-serif;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 63px;
    background-color: #09aeb7;
    border: 1px solid #09aeb7;
    color: #fff;
    transition: 0.3s ease;
}

.addProductButton:hover {
    background-color: white;
    color: #09aeb7;
}

@media only screen and (min-width: 1920px) {
    .addProductForm {
        width: 50%;
    }
}