
.infoTextDiv {
    flex: 1;
    background-color: #f7f7f7;
    margin: 10px;
    border-radius: 5px;
    height: 80%;
}

.infoTextDiv h1 {
    margin: 10px 5px 0;
}

.infoTextDiv p {
    margin: 0 5px 0;
}

.divider {
    height: 10px;
    margin: 0;
    font-size: 5rem;
    width: 80%;
    background-color: black;
}

.reviewsAndProductsDiv {
    background-color: white;
    width: 80%;
    flex: 1;
}