.profilePageDiv {
    display: flex;
    justify-content: center;
    min-height: 89vh;
    
}

.profilePageWrapper {
    width: 80%;
    margin: 20px;
}

.userDiv {
    display: flex;
    height: 320px;
}

.userPictureDiv {
    flex-basis: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    background-color: white;
}

.profilePic {
    height: 80%;
    border-radius: 50%;
}

.userInfoDiv {
    flex: 1;
    display: flex;
    background-color: white;
}

.userInfoTextDiv {
    flex: 1;
    text-align: left;
}

.userInfoTextDiv > h2,
.userInfoTextDiv > p {
    margin: 10px;
}

.userButtonsDiv {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.editProfileButtonDiv {
    flex: 1;
}

.followButtonDiv {
    flex: 1;
    display: flex;
    align-items: flex-end;
}

.profileButton {
    width: 100%;
    border: none;
    padding: 5px;
    border: 2px solid rgb(239, 209, 170);
    background-color: white;
    border-radius: 5px;
}

.tabButtonsDiv {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    background-color: white;
}

.tabButton {
    font-size: 1rem;
    padding: 10px 10px 7px;
    border: none;
    border-bottom: 3px solid white;
    cursor: pointer;
    background-color: white;
    box-sizing: border-box;
}

.tabButton:hover {
    background-color: rgb(247 247 247);
}

.activeTabButton {
    border-color: #C2634B;
}

.profilePageDivider {
    margin: 0;
}

.reviewsAndProductsDiv {
    background-color: white;
}

@media only screen and (min-width: 1920px) {
    .profilePageWrapper {
        width: 50%;
    }
}

