.profilePageDiv {
    display: flex;
    justify-content: center;
    min-height: 89vh;
    
}

.profilePageWrapper {
    width: 80%;
    margin: 20px;
}

.userDiv {
    display: flex;
    height: 320px;
}

.userPictureDiv {
    flex-basis: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    background-color: white;
}

.profilePic {
    height: 80%;
    border-radius: 50%;
}

.userInfoDiv {
    flex: 1;
    background-color: white;
}

.tabButtonsDiv {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    background-color: white;
}

.tabButton {
    font-size: 1rem;
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: white;
}

.tabButton:hover {
    background-color: rgb(247 247 247);
}

.profilePageDivider {
    margin: 0;
}

.reviewsAndProductsDiv {
    background-color: white;
}

@media only screen and (min-width: 1920px) {
    .profilePageWrapper {
        width: 50%;
    }
}

