.underNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3vh;
  border-bottom: 1px solid lightgrey;
  background-color: white;
}

.text-underNavbar {
  display: flex;
  align-items: flex-start;
  margin-left: 7vh;
}

.text-underNavbar p {
  margin-left: 8vh;
  font-size: 14px;
  color: #999999;
  margin-bottom: 0;
}