.productCardDiv {
  width: 300px;
}

.productCardLink {
  text-decoration: none;
}

.productCardHeader {
  display: flex;
  align-items: center;
  margin: 5px;
}

.productCardHeaderUsername {
  margin: 0;
  color: #343a40;
  font-size: 12px;
}

.productCardHeaderPFP {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
} 

.productCardImageDiv {
  height: 300px;
}

.productCardImage {
  height: 100%;
}

.productCardInfoDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px;
  font-size: 14px;
}

.priceProduct {
  margin: 0;
  color: #007782a8;
}

.descriptionProduct {
  margin: 0;
  color: #757575;
}
