.checkoutPageDiv {
    min-height: 88vh;
    display: flex;
    justify-content: center;
}

.checkoutWrapper {
    width: 90%;
    margin: 20px;
}

.checkoutDetails {
    display: flex;
    align-items: center;
}

.checkoutDetailsWrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.checkoutDetailsWrapper > h3 {
    margin: 0 10px 5px;
}

.sameInfoButton {
    height: 80px;
    width: 8%;
    margin: 20px;
    border: none;
    border-radius: 5px;
    background-color: white;
}

.sameInfoButton > img {
    padding-left: 4px;
    height: 100%;
}

/* .shippingDetails {
    flex: 1;
}

.summaryAndPayment {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.cartSummary {
    flex: 1;
}

.paymentTerminal {
    flex: 1;
} */