.baseDiv {
    display: flex;
    justify-content: center;
    background-color: #C2634B;
}

.baseDiv h3 {
    text-align: left;
    color: white
}

.editProductForm p {
    margin: 15px 5px;
}

.editProductForm {
    width: 80%;
}

.editImageFormDiv {
    display: flex;
    align-items: center;
    background-color: white;
    text-align: left;
    margin-bottom: 20px;
    height: 30%;
}

.newImagesDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    flex-basis: 50%;
    padding: 5px;
}

.imageInput {
    border: 1px dashed black;
    height: 50px;
    width: 100%;
}

.divider {
    height: 80%;
    border: 1px solid grey;
}

.oldImagesDiv {
    height: 100%;
    flex-basis: 50%;
}

.editFormDiv {
    display: flex;
    background-color: white;
    margin-bottom: 20px;
}

.editFormDiv > p {
    text-align: left;
    width: 50%;
}

.editFormDiv > input {
    width: 50%;
}