.searchPreviewDiv {
    z-index: 5;
    border-radius: 0 0 3px 3px;
    background-color: #ffffff;
}

.previewLink {
    text-decoration: none;
    color: black;
}

.previewLink:hover {
    color: black;
}

.previewDiv {
    background-color: white;
    display: flex;
    height: 140px;
    margin: 10px;
}

.previewImageDiv {
    height: 100%;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.previewImage {
    height: 90%;
}

.previewTitleDiv {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.previewDescriptionDiv {
    padding: 10px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}