.wrapper {
    margin: 0 auto;
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

main a {
    text-decoration: none;
    color: black;
}

@media only screen and (min-width: 1920px) {
    .latestProductsDiv {
        width: 83%;
    }
}
