.mobileNavbarMenuDiv {
    height: 94vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.mobileNavbarMenuDiv p {
    margin: 0;
}

.mobileNavbarMenuDiv img {
    height: 100%;
    border-radius: 50%;
}

.mobileNavbarMenuDiv > div {
    display: flex;
    align-items: center;
    height: 10%;
    cursor: pointer;
    margin-bottom: 20px;
}

.mobileMenuImageDiv {
    height: 100%;
    width: 20%;
}

.mobileMenuButton {
    width: 30%;
    margin-left: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #efd1aa;
}