.productDetailsBodyDiv {
  background-color: #f7f7f7;
  min-height: 89vh;
  display: flex;
  justify-content: center;
}

.productDetailsDiv {
  width: 80%;
  margin: 0 10%;
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 1920px) {
  .productDetailsDiv {
      width: 50%;
  }
}