.productDetailsDiv {
  background-color: #f7f7f7;
  min-height: 89vh;
  display: flex;
  justify-content: center;
}

.productDetailsWrapper {
  width: 80%;
  display: flex;
}

.productDetailsMainDiv {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editProductButton {
  width: 502px;
  border: none;
  padding: 5px;
  background-color: #C2634B;
  color: white;
  border-radius: 5px;
}

@media only screen and (min-width: 1920px) {
  .productDetailsWrapper {
      width: 50%;
  }
}