.chatHeaderDiv {
    display: flex;
    align-items: center;
    height: 7%;
    width: 100%;
    border-bottom: 1px solid grey;
}

.chatHeaderText {
    flex: 1;
    margin: 0;
}

.deleteChatIcon {
    align-self: flex-end;
    height: 100%;
    padding: 5px 10px;
    cursor: pointer;
}

.messagesDiv {
    height: 83%;
    width: 100%;
    padding-top: 10px;
    overflow: auto;
}

.messageInputDiv {
    height: 10%;
    width: 100%;
}

.chatInput {
    height: 100%;
    width: 100%;
}

.singleMessageDiv {
    display: flex;
    align-items: center;
}

.yourOwn {
    justify-content: flex-end;
}

.yourOwn .messageText {
    background-color: lightgreen;
}

.otherUser {
    justify-content: flex-start;
}

.otherUser .messageText {
    background-color: lightblue;
}

.messageWrapper {
    max-width: 40%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.messageText {
    margin: 0;
    padding: 10px 20px;
    border-radius: 10px;
    overflow-wrap: break-word;
}

.messageTime {
    position: relative;
    top: 30px;
    color: grey;
}

.messagePFP {
    margin: 0 10px;
    height: 30px;
    border-radius: 50%;
}

.offerMessageWrapper {
    max-width: 40%;
    margin-bottom: 20px;
}

.offerMessage {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}

.chatOfferButtons {
    width: 100%;
    padding: 0 40px 0 50px;
}

.chatOfferButtons > button {
    width: 40%;
    margin: 0 10px;
    border: none;
    border-radius: 3px;
}

.checkoutMessageWrapper {
    max-width: 40%;
    margin-bottom: 20px;
}

.checkoutMessageWrapper > button {
    width: 40%;
    margin: 0 10px;
    border: none;
    border-radius: 3px;
}