.loginPageDiv {
  display: flex;
  justify-content: center;
  min-height: 89vh;
}

.loginFormDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 540px;
  width: 500px;
  border-radius: 10px;
  margin: 40px;
  box-shadow: 0px 106px 42px rgba(0, 0, 0, 0.01), 0px 59px 36px rgba(0, 0, 0, 0.05), 0px 26px 26px rgba(0, 0, 0, 0.09), 0px 7px 15px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 70%;
  width: 100%;
  padding-top: 30px;
}

.loginFormTopText {
  text-align: center;
  width: 60%;
}

.logInTitle {
  margin-bottom: 10px;
  font-size: 1.25rem;
  font-weight: 700;
}

.logInSubtitle {
  font-size: 0.725rem;
  text-align: center;
  color: grey;
}

.loginInputDiv {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.loginInputLabel {
  font-size: 0.8rem;
  color: grey;
  font-weight: 600;
  margin-bottom: 5px;
}

.icon {
  position: absolute;
  z-index: 2;
  left: 12px;
  bottom: 7px;
  width: 20px;
}

.loginInput {
  height: 40px;
  padding: 0 0 0 40px;
  border-radius: 7px;
  outline: none;
  border: 1px solid #e5e5e5;
  filter: drop-shadow(0px 1px 0px #efefef) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
}

.loginInput:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px #242424;
  background-color: transparent;
}

.loginButton {
  height: 40px;
  width: 80%;
  border: 0;
  border-radius: 7px;
  cursor: pointer;
  color: #ffffff;
  background-color: #115DFC;
}

.googleLoginButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 80%;
  gap: 10px;
  background: #ffffff;
  border-radius: 7px;
  outline: none;
  color: #242424;
  border: 1px solid #e5e5e5;
  filter: drop-shadow(0px 1px 0px #efefef)
    drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  cursor: pointer;
  margin-bottom: 25px;
}

.googleLogo {
  height: 50%;
}

.noAccount > p {
  margin: 5px;
}

.signUpLink {
  color: black;
}

.separator {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  color: #8B8E98;
}

.separator .line {
  display: block;
  width: 100%;
  height: 1px;
  border: 0;
  background-color: #e8e8e8;
}

.afterLoginForm {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}