.projectNavbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    border-bottom: 1px solid lightgrey;
    background-color: white;
}

.logoDiv {
    display: flex;
    justify-content: flex-end;
    height: 60%;
    width: 15%;
}

.logoDiv > img {
    height: 100%;
    margin-right: 10%;
}

.searchDiv {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.searchDivWrapper {
    display: flex;
    height: 65%;
    width: 95%;
}

.navSelection {
    background-color: rgb(239, 209, 170);
    cursor: pointer;
    padding: 0 10px;
    border: none;
    border-right: 2px solid grey;
    border-radius: 3px 0 0 3px;
}

.searchBarForm {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.searchBar {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 3px;
}

.searchBarInput {
    background-color: #e0e0e099;
    height: 100%;
    width: 100%;
    font-size: 1rem;
    border: 0;
    outline: none;
    margin: 0;
    border-radius: 3px;
}

.glassDiv {
    height: 100%;
}

.glass {
    height: 100%;
    padding: 10px;
    background-color: #e0e0e099;
}

.previewDivider {
    margin: 0;
    height: 10px;
    background-color: white;
}

.buttonsDiv {
    display: flex;
    align-items: center;
    height: 100%;
    width: 35%;
}

.buttonsDiv > a {
    height: 65%;
}

.navbarButton {
    height: 100%;
    padding: 5px 25px;
    margin-right: 16px;
    border-radius: 5px;
}

.logOutButton {
    height: 65%;
}

.normalColors {
    border: none;
    background-color: #efd1aa;
}

.invertedColors {
    border: none;
    background-color: #c2634b;
    color: white;
}

.shoppingCartButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65%;
    padding: 5px 25px;
    border: 1px solid #c2634b;
    border-radius: 5px;
    background-color: white;
}

.shoppingCartIcon {
    height: 100%;
}

.cartSideBarDiv {
    position: fixed;
    z-index: 10;
    height: 100vh;
    width: 40%;
    top: 0%;
    left: 100%;
    transform: translateX(0%);
    transition: transform 200ms cubic-bezier(0.6, 0.1, 0.68, 0.53);
    background-color: #f7f7f7;
}

.slideCartIn {
    transform: translateX(-100%);
}

.dimmerDiv {
    position: fixed;
    z-index: 8;
    top: 0%;
    height: 100vh;
    width: 100%;
    pointer-events: none;
    transition: backdrop-filter 200ms cubic-bezier(0.6, 0.1, 0.68, 0.53);
}

.dimming {
    backdrop-filter: blur(3px);
}

.retractCartSideBarButton {
    position: fixed;
    z-index: 10;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 60%;
    cursor: default !important;
    opacity: 0;
}